In [27]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages

In [28]:
from pymongo import MongoClient

In [29]:
mongo_client = MongoClient('34.209.155.42', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [30]:
collection_reference.count()

2147779

In [6]:
cursor = collection_reference.find()

In [7]:
next(cursor)

{'_id': ObjectId('5a4d5678bfe2f9001587a12e'),
 'contributors': None,
 'coordinates': None,
 'created_at': 'Wed Jan 03 22:16:02 +0000 2018',
 'entities': {'hashtags': [], 'symbols': [], 'urls': [], 'user_mentions': []},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': None,
 'id': 948679371505655808,
 'id_str': '948679371505655808',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'tl',
 'place': {'attributes': {},
  'bounding_box': {'coordinates': [[[-118.668404, 33.704538],
     [-118.668404, 34.337041],
     [-118.155409, 34.337041],
     [-118.155409, 33.704538]]],
   'type': 'Polygon'},
  'country': 'United States',
  'country_code': 'US',
  'full_name': 'Los Angeles, CA',
  'id': '3b77caf94bfc81fe',
  'name': 'Los Angeles',
  'place_type': 'city',
  'url': 'https://api.twitter.com/1.1/geo/id/3b77caf94bfc81fe.json'},
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'text': 'Putangina ang boring na ng buhay ko dito jusko',
 'timestamp_ms': '1515017762434',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Fri Mar 02 13:22:22 +0000 2012',
  'default_profile': False,
  'default_profile_image': False,
  'description': None,
  'favourites_count': 4830,
  'follow_request_sent': None,
  'followers_count': 773,
  'following': None,
  'friends_count': 100,
  'geo_enabled': True,
  'id': 511923569,
  'id_str': '511923569',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 1,
  'location': 'Los Angeles, CA',
  'name': 'Juan Miguel',
  'notifications': None,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://pbs.twimg.com/profile_background_images/531342961343086592/4a7yCk4x.jpeg',
  'profile_background_image_url_https': 'https://pbs.twimg.com/profile_background_images/531342961343086592/4a7yCk4x.jpeg',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/511923569/1514535792',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/946844999412473856/07sICdIq_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/946844999412473856/07sICdIq_normal.jpg',
  'profile_link_color': '000000',
  'profile_sidebar_border_color': 'FFFFFF',
  'profile_sidebar_fill_color': 'EFEFEF',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': 'euanbedural_',
  'statuses_count': 5142,
  'time_zone': 'Hong Kong',
  'translator_type': 'none',
  'url': None,
  'utc_offset': 28800,
  'verified': False},
 'user_processed': True}

In [8]:
next(cursor)

{'_id': ObjectId('5a4d56d9bfe2f9001587a12f'),
 'contributors': None,
 'coordinates': None,
 'created_at': 'Wed Jan 03 22:16:04 +0000 2018',
 'display_text_range': [14, 25],
 'entities': {'hashtags': [],
  'symbols': [],
  'urls': [],
  'user_mentions': [{'id': 828346564062044160,
    'id_str': '828346564062044160',
    'indices': [0, 13],
    'name': 'alicia üêª',
    'screen_name': 'aliciabearrr'}]},
 'favorite_count': 0,
 'favorited': False,
 'filter_level': 'low',
 'geo': None,
 'id': 948679379248283648,
 'id_str': '948679379248283648',
 'in_reply_to_screen_name': 'aliciabearrr',
 'in_reply_to_status_id': 948634097961676800,
 'in_reply_to_status_id_str': '948634097961676800',
 'in_reply_to_user_id': 828346564062044160,
 'in_reply_to_user_id_str': '828346564062044160',
 'is_quote_status': False,
 'lang': 'en',
 'place': {'attributes': {},
  'bounding_box': {'coordinates': [[[-124.482003, 32.528832],
     [-124.482003, 42.009519],
     [-114.131212, 42.009519],
     [-114.131212, 32.528832]]],
   'type': 'Polygon'},
  'country': 'United States',
  'country_code': 'US',
  'full_name': 'California, USA',
  'id': 'fbd6d2f5a4e4a15e',
  'name': 'California',
  'place_type': 'admin',
  'url': 'https://api.twitter.com/1.1/geo/id/fbd6d2f5a4e4a15e.json'},
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'text': '@aliciabearrr Thank you üòã',
 'timestamp_ms': '1515017764280',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Wed Sep 30 22:49:56 +0000 2015',
  'default_profile': True,
  'default_profile_image': False,
  'description': 'momma to Leah üë©\u200düëßwife to Fernando üíç',
  'favourites_count': 2115,
  'follow_request_sent': None,
  'followers_count': 308,
  'following': None,
  'friends_count': 250,
  'geo_enabled': True,
  'id': 3741582613,
  'id_str': '3741582613',
  'is_translator': False,
  'lang': 'en',
  'listed_count': 0,
  'location': 'California',
  'name': 'Maria Belen Serna',
  'notifications': None,
  'profile_background_color': 'C0DEED',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3741582613/1514716470',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/947415653035646977/bH3yLoc2_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/947415653035646977/bH3yLoc2_normal.jpg',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'protected': False,
  'screen_name': '_ohhbelen',
  'statuses_count': 8926,
  'time_zone': None,
  'translator_type': 'none',
  'url': None,
  'utc_offset': None,
  'verified': False},
 'user_processed': True}

In [9]:
next(cursor)['text']

'It‚Äôs okay to invest in YOUrself. \nI beat myself up whenever i don‚Äôt cross out everything on my‚Ä¶ https://t.co/9kQpNWp4F9'

In [10]:
type(next(cursor))

dict

In [11]:
next(cursor)['text']

'Reading ‚ÄúRest In Power‚Äù by Trayvon Martins parents.....can‚Äôt stop tearing up imagining what it would be like to go‚Ä¶ https://t.co/PX1VJnJv4H'

In [31]:
sample_set = collection_reference.aggregate([{ '$sample' : { 'size' : 20}}])

In [32]:
tweets_list = list(sample_set)

In [33]:
import pandas as pd
tweets_dataframe = pd.DataFrame(tweets_list)

In [34]:
import sys
sys.getsizeof(tweets_dataframe)

66605

In [35]:
tweets_dataframe.head()

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,...,quoted_status_id_str,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,user_processed
0,5a56b9dd36dd5f00015b7028,None,"{'type': 'Point', 'coordinates': [-118.263032,...",Thu Jan 11 01:11:57 +0000 2018,NaN,"{'hashtags': [{'text': 'job', 'indices': [34, ...",NaN,{'full_text': 'Can you recommend anyone for th...,0,False,...,NaN,0,0,False,"<a href=""http://www.tweetmyjobs.com"" rel=""nofo...",Can you recommend anyone for this #job? Direct...,1515633117142,True,"{'id': 24224190, 'id_str': '24224190', 'name':...",NaN
1,5a53ebc447b2a100b5082640,None,None,Mon Jan 08 22:08:03 +0000 2018,"[0, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '„É≠„Çµ„É≥„Çº„É´„Çπ„ÅØÊúù„Åã„ÇâÈõ®„Åß„Åô‚òîÔ∏è ÊòéÊó•„ÇÇÈõ®Ê®°Êßò„ÅÆ‰∫àÂ†±‚ö°Ô∏èÈõ∑„ÇÇ „Åì...,0,False,...,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",„É≠„Çµ„É≥„Çº„É´„Çπ„ÅØÊúù„Åã„ÇâÈõ®„Åß„Åô‚òîÔ∏è\nÊòéÊó•„ÇÇÈõ®Ê®°Êßò„ÅÆ‰∫àÂ†±‚ö°Ô∏èÈõ∑„ÇÇ\n„Åì„ÅÆÊôÇÊúü„ÅØÈõ®Â≠£„Åß„ÅÇ„Çã„Åì„Å®„ÇíÂÆü...,1515449283897,True,"{'id': 877088993526992896, 'id_str': '87708899...",True
2,5a5ef3d036dd5f00016060ed,None,None,Wed Jan 17 06:57:20 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",fuck marlboro,1516172240356,False,"{'id': 595133308, 'id_str': '595133308', 'name...",NaN
3,5a5db8e736dd5f00015facf3,None,"{'type': 'Point', 'coordinates': [-118.3320521...",Tue Jan 16 08:33:43 +0000 2018,NaN,"{'hashtags': [{'text': 'poetry', 'indices': [1...",NaN,NaN,0,False,...,NaN,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",.\n.\n.\n. .\n.\n.\n#poetry #poem #edrecovery ...,1516091623194,False,"{'id': 61383575, 'id_str': '61383575', 'name':...",True
4,5a64055f36dd5f00016361f9,None,None,Sun Jan 21 03:13:34 +0000 2018,"[13, 17]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,NaN,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",@KingConvict Join,1516504414899,False,"{'id': 975462608, 'id_str': '975462608', 'name...",NaN

In [36]:
tweets_dataframe.describe()

,favorite_count,id,in_reply_to_status_id,in_reply_to_user_id,quote_count,quoted_status_id,reply_count,retweet_count
count,20.0,2.000000e+01,5.000000e+00,6.000000e+00,20.0,2.000000e+00,20.0,20.0
mean,0.0,9.554991e+17,9.559651e+17,1.128319e+09,0.0,9.602824e+17,0.0,0.0
std,0.0,4.030016e+15,4.779045e+15,1.177556e+09,0.0,1.189172e+15,0.0,0.0
min,0.0,9.494212e+17,9.490633e+17,2.717993e+07,0.0,9.594416e+17,0.0,0.0
25%,0.0,9.528568e+17,9.548526e+17,1.615431e+08,0.0,9.598620e+17,0.0,0.0
50%,0.0,9.549040e+17,9.549146e+17,9.918032e+08,0.0,9.602824e+17,0.0,0.0
75%,0.0,9.596405e+17,9.601118e+17,1.589711e+09,0.0,9.607029e+17,0.0,0.0
max,0.0,9.611246e+17,9.608831e+17,3.085324e+09,0.0,9.611233e+17,0.0,0.0

In [37]:
tweets_dataframe.columns.tolist()

['_id',
 'contributors',
 'coordinates',
 'created_at',
 'display_text_range',
 'entities',
 'extended_entities',
 'extended_tweet',
 'favorite_count',
 'favorited',
 'filter_level',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'place',
 'possibly_sensitive',
 'quote_count',
 'quoted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'reply_count',
 'retweet_count',
 'retweeted',
 'source',
 'text',
 'timestamp_ms',
 'truncated',
 'user',
 'user_processed']

In [42]:
tweets_dataframe.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                object
dtype: object

In [44]:
type(user)

NameError: name 'user' is not defined

In [45]:
from pandas.io.json import json_normalize
tweets_normalized = json_normalize(tweets_list)

In [46]:
tweets_normalized.head()
tweets_normalized.describe()
tweets_normalized.column.tolist()

AttributeError: 'DataFrame' object has no attribute 'column'